apiVersion: v1
kind: Service
metadata:
  namespace: zodiac
  name: orion-ui
  labels:
    app: orion-ui
spec:
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30081
      protocol: TCP
  selector:
    app: orion-ui
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: zodiac
  name: orion-ui
  labels:
    app: orion-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orion-ui
  template:
    metadata:
      labels:
        app: orion-ui
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: orion-ui
          image: git.tu-berlin.de:5000/zodiac/zodiac-meta/orion-ui:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80