apiVersion: v1
kind: Service
metadata:
  namespace: zodiac
  name: orion-ui
  labels:
    app: orion-ui
spec:
  type: NodePort
  selector:
    app: orion-ui
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30081
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: zodiac
  name: orion-ui
  labels:
    app: orion-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orion-ui
  template:
    metadata:
      labels:
        app: orion-ui
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: orion-ui
          image: git.tu-berlin.de:5000/zodiac/zodiac-meta/orion-ui@sha256:72998ca275f93e00ff32d9a5dda56256ed2f306dddac48e64357b7b1c4016e94
          imagePullPolicy: Always
          env:
          - name: VITE_CHAT_API_BASE
            value: "mcp-client-service:8001"
          - name: VITE_CHAT_API_PATH
            value: "/chat"
          - name: VITE_AGENT_API_BASE
            value: http://agent-api:3000
          ports:
            - containerPort: 80

